body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box; 
          box-sizing:border-box;
}
ul,li { list-style: none}
a,a:hover{ text-decoration: none !important;}
em, i{ font-style: normal;}
html { font-size: 75px;}
body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, arial, 'Hiragino Sans GB', "\5FAE\8F6F\96C5\9ED1", tahoma, '微软雅黑', "\5b8b\4f53", sans-serif;
}
img { width: 100%;}
.hide{ display: none;}