.fl{ float: left;}
.fr{ float: right;}

.layout{
  width: 800px;
  margin: 0 auto;
}
header{
  height: 35px;
  line-height: 35px;
  padding: 5px 20px;
  margin-bottom: 10px;
  background: #2d3e50;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  color: #fff;
  text-align: center;
}
.choose{
  margin-bottom: 10px;
}