body{
    position: relative;
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 100%;
}
img{
    display: block;
    width: 100%;
}
.controls{
    position: absolute;
    top: 0;
    left: 0;
}
.invite-code{
    position: absolute;
    top: 14.78%;
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.invite-button{
    position: absolute;
    top: 55.87%;
    left: 50%;
    margin-left: -45%;
    width: 89.22%;
    height: 2%;
    cursor: pointer;
}
.product{
    position: absolute;
    width: 41.11%;
    height: 17.71%;
}
.product0{
    left: 5.33%;
    top: 61.33%;
}
.product1{
    left: 53.22%;
    top: 61.33%;
}
.product2{
    left: 5.33%;
    top: 80.68%;
}
.product3{
    left: 53.22%;
    top: 80.68%;
}